*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
--bg-color: rgb(1, 8, 31);
--primary-color: rgba(33, 47, 95, 0.5);
--text-color: #fff;

font-size: 62.5%;
}

body{
    font-family: sans-serif;
    background-color: var(--bg-color);
    color: var(--text-color);

    display: grid;
    min-height: 100vh;
}

main{
    align-self: end;
    justify-self: center;
}

footer{
    align-self: end;
    justify-self: end;

    padding: 0 4rem 3.2rem;
}

.hide{
    display: none;
}

#controls i{
    color: var(--text-color);
  
}

footer i{
    color: var(--text-color);
}

button{
    background-color: transparent;
    border: none;

    cursor: pointer;
}

#timer{
    font-size: clamp(4rem, 4rem + 10vw, 8.8rem);

    display: flex;
    margin-bottom: 1.6rem;
}

#controls{
    background-color: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3.2rem;

    border-radius: 9999px;
    
    width: clamp(10rem, 10rem + 30vw, 22.8rem);
    height: clamp(8rem, 5rem + 10vh, 10.8rem);

}